[monitor]
adapter = hci0
debug = False
temperature = C
# C = Celsius
# K = Kelvin
# F = Farenheit


[renogy_battery_1]
type = RenogyBatt
mac = 11:11:11:11:11:11
reconnect = True

[battery_1]
type = Meritsun
mac = 11:11:11:11:11:11
reconnect = False

[battery_2]
type = Meritsun
mac = 11:11:11:11:11:11
reconnect = False

[regulator]
type = SolarLink
mac = 11:11:11:11:11:11
reconnect = False

[inverter_1]
type = VictronConnect
mac = 11:11:11:11:11:11
reconnect = False

[rectifier_1]
type = VictronConnect
mac = 11:11:11:11:11:11
reconnect = False


[datalogger]
url = http://server/solar/api/
token = 39129e20be0503937cb72a5f719337cc

[mqtt]
# Address to the mqtt broker
broker = mqtt.server.addr 
# All topics are prefixed by this prefix
# E.g. "solar/battery_1/voltage"
prefix = solar                


